<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>70801399816-ua9olomkmo596c5apaivvrh6d3u7l0s7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70801399816-ua9olomkmo596c5apaivvrh6d3u7l0s7</string>
	<key>API_KEY</key>
	<string>AIzaSyCqvegC7FpYLB312Nspd_L3Nd8NJ-3nCHI</string>
	<key>GCM_SENDER_ID</key>
	<string>70801399816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sowah.TeamGAproject</string>
	<key>PROJECT_ID</key>
	<string>teamgaproject-a2a36</string>
	<key>STORAGE_BUCKET</key>
	<string>teamgaproject-a2a36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70801399816:ios:98e58b3995e52037</string>
	<key>DATABASE_URL</key>
	<string>https://teamgaproject-a2a36.firebaseio.com</string>
</dict>
</plist>